body {
  height: 100vh;
}

.container {
    display: flex;
    background-color: white;
    border-radius: 1em;
    /* margin-bottom: 0.5vh; */
    /* padding: 0.5vh; */
    flex-direction: column;
    flex-wrap: wrap;
    height: 75vh;
    align-items: stretch;
    font-size: 21px;
    /* font-size: calc(-0.05px * var(--amount-of-items) + 20px) */
    /* font-size:calc(-4/65* var(--amount-of-items)+316/13px); */
}
  
.letter {
    align-self: stretch;
    text-align: center;
    font-size:2em;
    /* margin: 2vh 0 0 0; */
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    /* margin: 1.5vh 0 0 0; */
    padding: 0 1vw;
}

.item__name {
  background: inherit;
  text-align: left;
}
.item__first-name {
  background: inherit;
}
.item__last-name{
  background: inherit;
}
/* .item__first-name::first-letter {
  font-size: 1.2em;
  color: red;
} */

.item__dish-index {
    border-radius: 50%;
    width: 1em;
    padding: 0.2em;
    background-color: rebeccapurple;
    text-align: center;
    color: white;
}

.dishes {
  display:flex;
  height:25vh;
  flex-wrap:wrap;
  width: 100%;
  background-color:BEIGE;
}

.dish {
  height:5vh;
  width:5vh;
  margin: 0.5em 0.5em  0em 0.5em ;
  background-color:green;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}
/* .dish p {
  margin: 0 auto;
  line-height:100%;
  text-align: center;
  vertical-align: middle;
  font-size: 5vh;
  color: red;

} */
.item__last-name p, .item__first-name p, .letter p {
  height: inherit;
	background: inherit;
	-webkit-background-clip: text;
					background-clip: text;
	color: transparent;
	text-align: center;
	filter: invert(1) grayscale(1) contrast(9);
}
/* p {
  height: inherit;
	background: inherit;
	-webkit-background-clip: text;
					background-clip: text;
	color: transparent;
	text-align: center;
	filter: invert(1) grayscale(1) contrast(9);
} */

.dishes-few {
  height:8vh;
  width:8vh;

}
.dishes-few p {
  font-size: 7vh;
}

.dish__container{
  margin:8vh 0 0 0;
  position: absolute;
  background-color: green;
  opacity:0.5;
  width:10vh;
  height:9vh;
}

.dish__info{
  margin:8vh 0 0 0;
  position: absolute;
  width:10vh;
  height:7vh;
}

.dish__upper-info {
  display:flex;
}
.dish__info__number{
  height:1em;
  width:1em;
  font-size:1.5em;
  /* grid-column: span 3 / auto; */

}

.dish__info__name {
  float:left;
  /* grid-column: span 9 / auto;
  grid-row: span 4 / auto; */


}
.dish__info__supplier{
  /* grid-column: span 12 / auto;
  grid-row: span 2 / auto; */

}

/*colors*/

.b-color-Amethyst {
  background-color: #F0A3FF;
}

.b-color-Blue {
  background-color: #0075DC;
}

.b-color-Caramel {
  background-color: #993F00;
}

.b-color-Damson {
  background-color: #4C005C;
}

.b-color-Ebony {
  background-color: #191919;
}

.b-color-Forest {
  background-color: #005C31;
}

.b-color-Green {
  background-color: #2BCE48;
}

.b-color-Honeydew {
  background-color: #FFCC99;
}

.b-color-Silver {
  background-color: silver;
}

.b-color-Jade {
  background-color: #94FFB5;
}

.b-color-Khaki {
  background-color: #8F7C00;
}

.b-color-Lime {
  background-color: #9DCC00;
}

.b-color-Mallow {
  background-color: #C20088;
}

.b-color-Navy {
  background-color: #003380;
}

.b-color-Orpiment {
  background-color: #FFA405;
}

.b-color-Pink {
  background-color: #FFA8BB;
}

.b-color-Quagmire {
  background-color: #426600;
}

.b-color-Red {
  background-color: #FF0010;
}

.b-color-Sky {
  background-color: #5EF1F2;
}

.b-color-Turquoise {
  background-color: #00998F;
}

.b-color-Uranium {
  background-color: #E0FF66;
}

.b-color-Violet {
  background-color: #740AFF;
}

.b-color-Wine {
  background-color: #990000;
}

.b-color-Xanthin {
  background-color: #FFFF80;
}

.b-color-Yellow {
  background-color: #FFFF00;
}

.b-color-Zinnia {
  background-color: #FF5005;
}


/*font */
.font-color-Amethyst {
  color: #F0A3FF;
}

.font-color-Blue {
  color: #0075DC;
}

.font-color-Caramel {
  color: #993F00;
}

.font-color-Damson {
  color: #4C005C;
}

.font-color-Ebony {
  color: #191919;
}

.font-color-Forest {
  color: #005C31;
}

.font-color-Green {
  color: #2BCE48;
}

.font-color-Honeydew {
  color: #FFCC99;
}

.font-color-Silver {
  color: silver;
}

.font-color-Jade {
  color: #94FFB5;
}

.font-color-Khaki {
  color: #8F7C00;
}

.font-color-Lime {
  color: #9DCC00;
}

.font-color-Mallow {
  color: #C20088;
}

.font-color-Navy {
  color: #003380;
}

.font-color-Orpiment {
  color: #FFA405;
}

.font-color-Pink {
  color: #FFA8BB;
}

.font-color-Quagmire {
  color: #426600;
}

.font-color-Red {
  color: #FF0010;
}

.font-color-Sky {
  color: #5EF1F2;
}

.font-color-Turquoise {
  color: #00998F;
}

.font-color-Uranium {
  color: #E0FF66;
}

.font-color-Violet {
 color: #740AFF;
}

.font-color-Wine {
  color: #990000;
}

.font-color-Xanthin {
  color: #FFFF80;
}

.font-color-Yellow {
  color: #FFFF00;
}

.font-color-Zinnia {
  color: #FF5005;
}

