body {
  height: 100vh;
}

.container {
    display: flex;
    background-color: white;
    border-radius: 1em;
    /* margin-bottom: 0.5vh; */
    /* padding: 0.5vh; */
    flex-direction: column;
    flex-wrap: wrap;
    height: 80vh;
    align-items: stretch;
    font-size: 21px;
    /* font-size: calc(-0.05px * var(--amount-of-items) + 20px) */
    /* font-size:calc(-4/65* var(--amount-of-items)+316/13px); */
}
  
.letter {
    align-self: stretch;
    text-align: center;
    font-size:2em;
    margin: 2vh 0 0 0;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 1em;
    margin: 1.5vh 0 0 0;
    padding: 0 1vw;
}

.item__name {
  text-align: left;
}

.item__first-name::first-letter {
  font-size: 1.2em;
  color: red;
}

.item__dish-index {
    border-radius: 50%;
    width: 1em;
    padding: 0.2em;
    background-color: rebeccapurple;
    text-align: center;
    color: white;
}

.dishes {
  display:flex;
  height:20vh;
  flex-wrap:wrap;
  width: 100%;
  background-color:BEIGE;
}

.dish {
  height:5vh;
  width:5vh;
  margin: 0.5em 0.5em  0em 0.5em ;
  background-color:green;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}
/* .dish p {
  margin: 0 auto;
  line-height:100%;
  text-align: center;
  vertical-align: middle;
  font-size: 5vh;
  color: red;

} */

.dishes-few {
  height:10vh;
  width:10vh;

}
.dishes-few p {
  font-size: 7vh;
}

.dish__container{
  margin:8vh 0 0 0;
  position: absolute;
  background-color: green;
  opacity:0.5;
  width:10vh;
  height:9vh;
}

.dish__info{
  
  /* display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 2px; */
  margin:8vh 0 0 0;
  position: absolute;
  width:10vh;
  height:7vh;
}

.dish__upper-info {
  display:flex;
}
.dish__info__number{
  height:1em;
  width:1em;
  font-size:1.5em;
  /* grid-column: span 3 / auto; */

}

.dish__info__name {
  float:left;
  /* grid-column: span 9 / auto;
  grid-row: span 4 / auto; */


}
.dish__info__supplier{
  /* grid-column: span 12 / auto;
  grid-row: span 2 / auto; */

}