@font-face {
  font-family: "HelveticaNeueW01-Thin";
  src: url("https://static.parastorage.com/services/third-party/fonts/Helvetica/Fonts/aff68211-86bb-476d-882e-f7a3face144c.woff2?1") format("woff2"), url("https://static.parastorage.com/services/third-party/fonts/Helvetica/Fonts/50d35bbc-dfd4-48f1-af16-cf058f69421d.woff?1") format("woff"); 
}

@font-face {
  font-family: "HelveticaNeueW10-55Roma";
  src: url("https://static.parastorage.com/services/third-party/fonts/Helvetica/Fonts/cf45dd62-4ace-47a2-abee-6fe9e95a1daa.woff2?1") format("woff2"), url("https://static.parastorage.com/services/third-party/fonts/Helvetica/Fonts/8ac9e38d-29c6-41ea-8e47-4ae4d2b1a4e1.woff?1") format("woff"); }

@font-face {
  font-family: "HelveticaNeueW10-75Bold";
  src: url("https://static.parastorage.com/services/third-party/fonts/Helvetica/Fonts/51f47b5d-143f-4d30-a6c3-23217fc0136b.woff2?1") format("woff2"), url("https://static.parastorage.com/services/third-party/fonts/Helvetica/Fonts/d85949a1-c37a-43f7-9d09-fb056acf0c27.woff?1") format("woff"); }

body {
    font-family: HelveticaNeueW10-55Roma;
    background: linear-gradient(to bottom , #f0f4f7, #ffffff);
    height: 100vh;
}


.header-logo {
    width: 42px;
    height: 15.8px;
    background-image: url("img/log0-wix-1.svg");
    background-repeat: no-repeat;
    background-size: 42px 15.8px;
}

.header {
    height:60px;
    background-color: #f0f4f7;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;

}
.header-empty {
    grid-column: span 9 / auto;
}

.header-left-panel {
    margin:23.2px 0 21px 24px;
    width:20vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 6px;
    grid-column: span 2 / auto;
    align-items: baseline;
}

.header-right-panel {
    margin:23.2px 0 21px 0;
    height: 16px;
    font-family: HelveticaNeueW01-Thin;
    font-size: 22px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #000000;
    margin: 0 62px 0 0;
}

.header-title {
    font-family: HelveticaNeueW01-Thin;
    height: 16px;
    font-size: 22px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #000000;
    grid-column: span 4 / auto;
}

.dishes-container {
    margin: 4px 0 0 0;
    padding: 0 0 12px 24px;
    overflow: hidden;
}

.dishes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height:392px;
}

.dish-container {
    width: 145px;
    height: 190px;
    border-radius: 6px;
    background-color: #ffffff;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.08);
    animation: slider  var(--slider-time) infinite;
    margin-right: 12px;
}

.dish-container:nth-child(even){
    margin-top: 12px;
}

.dish-image {
    width: 145px;
    height: 120px;
    background-image:url('img/food-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 6px 8px 0px 0px;
}

.dish-description {
    height: 70px;
    width: 145px;
    background-color: white;
    border-radius:  0px 0px 6px 6px;
    box-sizing: border-box;
    padding: 12px;
    position: absolute;
}

.dish-name {
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: -0.2px;
    color: #162d3d;
}

.dish-provider {
    height: 12px;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.2px;
    color: #bcbcbc;
    position: absolute;
    top:45px;
}

.dish-number {

    width: 36px;
    height: 36px;
    border-radius: 6px;
    background-color: #ffffff;
    float:right;
}

.dish-number-inner {
    width: 30px;
    height: 30px;
    border-radius: 6px;
    margin:3px;
    background-color: #4eb7f5;
}


.dish-number-inner p {
    position: relative;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.2px;
    text-align: center;
    top: 25%;
    color: #ffffff;
}

.letters-list {
    padding: 12px 0 0 24px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: stretch;
    height: 612px;
}
.person {
    width: 202px;
    background-color: #eaf7ff;
}
.person-info {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.person-name {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.14;
    letter-spacing: normal;
    color: #2b5672;
    grid-column: span 10 / auto;
    margin-left: 12px;
}

.person-dishnumber {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    background-color: #4eb7f5;
    grid-column: span 2 / auto;
}

.person-dishnumber p{
    position: relative;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: center;
    top: 20%;
    color: #ffffff;
}
.letter {
    font-family: HelveticaNeueW10-75Bold;
    width: 202px;
    height: 34px;
    background-color: rgba(216, 216, 216, 0);
    font-size: 36px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    padding: 8px 0 10px 12px;
    color: #4eb7f5;
}

.letter-container {
    margin-bottom: 6px;
}

@keyframes slider {
    0% {
        transform: translateX(0)
    } 
    50% {
        transform: translateX(var(--excess-amount-of-dishes));
    }
    100% {
        transform: translateX(0)
    }
}

